.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .bio-cover {
    width: 100vw;
  }

  .right-section {
    padding: 1rem;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .bio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .bio-cover {
      width: 25vw;
    }

    .right-section {
      padding: 2rem 0 2rem 3rem;
      text-align: left;
    }
  }
}
@media (min-width: 768px) {
  .timeline {
    &:before {
      left: 50%;
    }
  }
}
